@import "tailwindcss";

/* Importación de la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Clases CSS personalizadas */
.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.gradient-bg {
    background: linear-gradient(135deg, #000000 0%, #1e3a8a 100%); /* Negro a un azul oscuro */
}

.feature-card:hover {
    transform: translateY(-5px);
    /* Puedes añadir más estilos hover aquí si lo deseas, por ejemplo, box-shadow */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}